NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_ABOUT_GITHUB=https://github.com/luanoliveiralab/ListaWeb
NEXT_PUBLIC_ABOUT_LINKEDIN=https://www.linkedin.com/in/luanoliveira-ld
NEXT_PUBLIC_ABOUT_PORTFOLIO=
NEXT_PUBLIC_ABOUT_EMAIL=
